@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,700&family=Outfit:wght@200;400&family=Quicksand&display=swap');

body {
    background-color: white;

}

section {
    position: sticky;
    text-align: center;
    background-color: #fff;
    margin: 0 auto;
    
}

main {
    padding: 350px 2px;
}

#video {
    width: 100%;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    align-items: center;
    border: 1px solid white;
    border-radius: 8px;
    margin: 0;
    justify-items: center;
}

article:hover {
    border: 2px solid #f99;
}

.thumb {
    height: 80px;
    border-radius: 2px;
}

.detail {
    padding: 25px 22px;
}

p {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
    color: #CB4154;
}

h4 {
    padding: 0;
    margin: 0;
    font-family: 'Bodoni Moda', serif;
    font-size: 20px;
    color: #CB4154;

}

.item button {
    padding: 1rem 2rem;
    color: #eee;
    background-color: #CB4154;
    border: none;
    border-radius: 12px;
}

.item div {
    margin: 2rem;
}

